<!-- Contenedor de la pagina -->
<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!loading" class="content">
    <!-- Columna para el contenido -->
    <div fxFlex fxLayout="column">

        <!-- titulo del componente -->
        <div class="header-page" fxLayout="row wrap">
            <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100" fxLayoutAlign="start center">
                <img src="../../../assets/img/characters.png" alt="comics"
                    width="67px">
                <mat-card-title>Detail of {{character.name}}</mat-card-title>
            </div>

            <!-- Espacio para la cantidad de registros a visualizar -->
            <div fxHide.xs fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="50%" fxLayoutAlign="end center">
                <mat-icon>arrow_left</mat-icon>
               <a href="/characters"><span class="return">Return to characters</span></a>
            </div>
        </div>

          <!-- Info del personaje -->
          <div class="header-page" fxLayout="row wrap">
            <div fxFlex="25%" fxFlex.sm="50%" fxFlex.md="50" fxLayoutAlign="start center">
                <img class="character" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="characters">

            </div>

            <!-- Espacio para la cantidad de registros a visualizar -->
            <div class="isMobile" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50" fxLayoutAlign="center start" fxLayout="column">
                <span>{{character.name}}</span>
                <p class="typography">
                    {{character.description? (character.description) : 'No description' }}    
                </p>
                <a href="{{character.urls[0].url}}" target="_blank">
                    <button mat-button class="primary focus">FULL DETAIL</button>
                </a>
            </div>
        </div>

        <!-- Separador -->
        <div fxFlex="100%">
            <hr style="opacity: 0.5;">
        </div>
        
        <!-- titulo para los comics -->
        <div fxFlex="100%" fxFlex.sm="50%" class="subtitle" fxLayoutAlign="start center">
            <mat-icon>arrow_right</mat-icon>
            <span> Related Comics - {{comicsAll.length}}</span> 
        </div>

        <!-- Muestra los comics -->
        <div fxLayout="row wrap">
            <div fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%"
                fxLayout="column"
                *ngFor="let comic of comicsAll" style="padding: 7px; margin-bottom: 25px;">

                <mat-card class="card-size" style="background: #f9f9f9bd; padding: 20px;">

                    <!-- Imagen -->
                    <img mat-card-image
                        src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"
                        alt="{{comic.name}}" (click)="openDetailComic(comic)">

                    <!-- Titulo del comic -->
                    <mat-card-content>
                        <mat-card-title>
                            <span>{{comic.title}}</span>
                        </mat-card-title>
                    </mat-card-content> 

                    <!-- Footer acciones -->
                    <mat-card-footer fxLayout="row" fxLayoutAlign="start center">
                        <button fxFlex="85%" (click)="openDetailComic(comic)" mat-button class="primary btnMore">VIEW MORE</button>
                        <div fxFlex="15%" fxLayoutAlign="center center">
                            <mat-icon (click)="addFavorites(comic)" class="icon-fav" [ngStyle]="{color: comic.isFavorite ? 'red' : ''}">favorite</mat-icon>
                        </div>

                    </mat-card-footer>

                </mat-card>

            </div>
        </div>
    </div>
</div>