<!-- Titulo -->
<div fxLayout="row" style="margin-bottom: 30px;" fxLayoutAlign="start center">
    <div mat-dialog-title fxFlex="90">
        {{dataRecord.title}}
    </div>
    <!-- Boton para cerrar la modal -->
    <div fxFlex="10" fxLayoutAlign="end center">
        <mat-icon class="pointer" mat-dialog-close>close</mat-icon>
    </div>
</div>


<!-- PARA DETALLE DE UNA SERIE -->
<div fxLayout="row wrap" mat-dialog-content>
    <div style="margin-bottom: 50px;" fxFlex="40%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.xs="100%" fxLayoutAlign.xs="center" fxLayoutAlign.sm="center">
        <img class="character"
            src="{{dataRecord.thumbnail.path}}.{{dataRecord.thumbnail.extension}}"
            alt="Image">
    </div>
    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlex.md="50%" fxLayoutAlign="start start" fxLayout="column">

        <!-- DESCRIPCIÓN -->
        <div *ngIf="data.type === 'comic'" class="mt">
            <span>DESCRIPTION</span>
            <div class="mt">
                <ul >
                    <li >
                        <p class="typography">{{dataRecord.description? dataRecord.description : 'No description' }}</p>
                    </li>
                </ul>
                
            </div>
        </div>


        <!-- CREADORES -->
        <span class="mt">CREATORS</span>
        <div *ngIf="creators.length > 0" class="mt">
            <ul >
                <li *ngFor="let creator of creators">
                   <a target="_blank" [href]="creator.urls[0].url">{{creator.fullName}}</a>
                </li>
            </ul>
        </div>
        <!-- Si no hay creadores -->
        <div *ngIf="creators.length === 0" class="mt">
            <ul>
                <li>
                   No Records
                </li>
            </ul>
        </div>
        
        <!-- PERSONAJES -->
        <span class="mt">CHARACTERS</span>
        <div *ngIf="characters.length > 0" class="mt">
            <ul >
                <li *ngFor="let character of characters">
                   <a mat-dialog-close (click)="goDetailCharacter(character.id)">{{character.name}}</a>
                </li>
            </ul>
        </div>
        <!-- Si no hay creadores -->
        <div *ngIf="characters.length === 0" class="mt">
            <ul>
                <li>
                   No Records
                </li>
            </ul>
        </div>

        <!-- HISTORIAS -->
        <span class="mt">STORIES</span>
        <div *ngIf="stories.length > 0" class="mt">
            <ul>
                <li *ngFor="let storie of stories">
                   <a mat-dialog-close>{{storie.title}}</a>
                </li>
            </ul>
        </div>
        <!-- Si no hay creadores -->
        <div *ngIf="stories.length === 0" class="mt">
            <ul>
                <li>
                   No Records
                </li>
            </ul>
        </div>
    </div>

    <!-- Separador -->
    <div fxFlex="100%" style="margin-top: 20px; margin-bottom: 20px;" *ngIf="related">
        <hr style="opacity: 0.5;">
    </div>

    <div fxFlex="100%" *ngIf="related" >
        <span class="mt">RELATED CHARACTERS</span>

        <!-- Personajes relacionados -->
        <div *ngIf="related.length > 0" class="related" fxLayout="row wrap" fxLayoutGap="20px">
            <div fxFlex="18" fxFlex.xs="45" fxFlex.md="30" fxFlex.sm="30" *ngFor="let item of related" fxLayout="column">
                <img (click)="goDetailCharacter(item.id)" mat-dialog-close class="pointer img-related" width="100%" height="200" style="border-radius: 8px;" src="{{item.thumbnail.path}}.{{dataRecord.thumbnail.extension}}" alt="">
                <span class="name-related">{{item.name}}</span>
            </div>
        </div>

        <!-- Si no hay personajes -->
        <div *ngIf="related.length === 0" class="related">
            Not found
        </div>
    </div>
</div>