<!-- Titulo -->
<h1 mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="90">
            {{dataComic.title}}
        </div>
        <!-- Boton para cerrar la modal -->
        <div fxFlex="10" fxLayoutAlign="end center">
            <img mat-dialog-close fxLayoutAlign="end center"
                src="../../../assets/img/btn-close.png" class="icon-close"
                alt="">
        </div>
    </div>

</h1>

<!-- Imagen y descripcion del comic -->
<div fxLayout="row wrap" mat-dialog-content>
    <div fxFlex="40%" fxFlex.sm="50%" fxFlex.xs="100%">
        <img class="character"
            src="{{dataComic.thumbnail.path}}.{{dataComic.thumbnail.extension}}"
            alt="characters">
    </div>
    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center start" fxLayout="column">
        <span>DESCRIPTION ... </span>
        <p class="typography">{{dataComic.description? (dataComic.description) : 'No description' }}</p>
    </div>
</div>

<!-- Acciones -->
<mat-dialog-actions align="end" style="margin-top: 20px;">
    <!-- Añadir a fav -->
    <button *ngIf="!data.isFav" mat-dialog-close mat-button class="action-fav" (click)="addFavorites(dataComic)">
        <img src="../../../assets/img/btn-favourites-primary.png"
            alt="favorites">
        &nbsp; ADD TO FAVORITES
    </button>
    <!-- Quitar de fav -->
    <button *ngIf="data.isFav"  mat-button class="action-fav" (click)="removeFavorite(dataComic)" [mat-dialog-close]="true">
        <mat-icon>delete</mat-icon>
        &nbsp; REMOVE FROM FAVORITES
    </button>
    <!-- Comprar -->
    <button mat-button class="action-buy" mat-dialog-close (click)="buyComic()">
        <img src="../../../assets/img/shopping-cart-primary.png"
            alt="favorites">
        &nbsp; BUY FOR ${{dataComic.prices[0]?.price}}
    </button>
</mat-dialog-actions>