
.header-page{
  margin-bottom: 30px;
}

@media (max-width: 600px){
  .fileSort {
    margin-left: 6px;
    margin-top: 20px !important;
    width: 96% !important;
  }
}

  .fileSort{
    width: 50%;
    margin-top: 10px;
  }

  .typography{
    color: #5f6565d9;
  }

  .btnMore{
    /* margin-top: 20px; */
    background-color: #212121;
    color: white;
    font-weight: bold;
    width: 257px !important;
  }

  .btnMore:hover{
    background-color: red;
   
  }

  .alert{
    height: 100% !important;
    text-align: center;
}
