
<!-- Si se eccedió el limite de peticiones muestra un mensaje -->
<div *ngIf="notFound" class="content alert">
    <app-not-found></app-not-found>
</div>

<div *ngIf="!notFound" class="content">
    
    <!-- Columna para el contenido -->
    <div fxFlex fxLayout="column">

        <!-- titulo del componente -->
        <div class="header-page" fxLayout="row wrap">
            <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100" fxLayoutAlign="start center">
                <img src="../../../assets/img/characters.png" alt="characters" width="67px">
                <mat-card-title>Marvel Series</mat-card-title>
            </div>

            <!-- Espacio para la cantidad de registros a visualizar -->
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="50%" fxLayoutAlign="end center">
                <mat-form-field appearance="outline" class="fileSort">
                    <mat-label>View Records</mat-label>
                    <mat-select (selectionChange)="establecerCantRegistros($event.value)">
                        <mat-option *ngFor="let c of seleccioneCantidad" [value]="c">{{c}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Muestra los personajes divididos por un card -->
        <div fxLayout="row wrap">
            <div fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%"
                fxLayout="column"
                *ngFor="let serie of seriesAll" style="padding: 7px; margin-bottom: 25px;">

                <mat-card class="card-size" style="background: #f9f9f9bd; padding: 20px;">
                    <!-- Imagen -->
                    <img mat-card-image
                        src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}"
                        alt="{{serie.name}}" (click)="openDetailSerie(serie)">

                    <!-- Titulo del comic -->
                    <mat-card-content>
                        <mat-card-title>
                            <span>{{serie.title}}</span>
                        </mat-card-title>
                    </mat-card-content> 

                    <!-- Footer acciones -->
                    <mat-card-footer fxLayout="row" fxLayoutAlign="center center">
                        <button fxFlex="70%" (click)="openDetailSerie(serie)" mat-button class="primary btnMore">VIEW MORE</button>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>


        <!-- Mostrar mas resultados -->
        <div fxLayout="column" *ngIf="totalRegistros > 0" id="actions" style="margin-top: 40px;">
            <div fxFlex="100%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
                <button mat-button class="primary btnMore" (click)="establecerCantRegistros(limit + 6, true)">VIEW MORE SERIES</button>
            </div>

            <!-- Registros visualizados -->
            <p class="typography noMargin" fxFlex="100%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">{{seriesAll.length}}/{{totalRegistros}}</p>
            <!-- Mostrar menos -->

            <div *ngIf="limit > 10" fxFlex="100%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
                <button mat-button class="btnMore" (click)="establecerCantRegistros(limit -6, true)">SHOW FEWER SERIES</button>
            </div>
        </div>
    </div>
</div>