<h1 mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="90">
            {{data.title}}
        </div>
        <div fxFlex="10" fxLayoutAlign="end center">
            <img style="cursor: pointer;" mat-dialog-close fxLayoutAlign="end center" src="../../../assets/img/btn-close.png" class="btn-close" alt="">
        </div>
    </div>
    
</h1>

<h1 mat-dialog-title></h1>


    <div fxLayout="row wrap" mat-dialog-content>
        <div fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="100%">
            <img class="character" src="{{data.thumbnail.path}}.{{data.thumbnail.extension}}" alt="characters">
        </div>
        <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center start" fxLayout="column">
            <span>DESCRIPTION ... </span>
            <p class="typography">{{data.description? (data.description) : 'No description' }}</p>
        </div>
    </div>

<!-- Acciones -->
<mat-dialog-actions align="end">
  <button mat-button class="primary">
      <mat-icon>close</mat-icon>
      Cerrar
  </button> 
  <button mat-button class="primary" [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</mat-dialog-actions>