
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #202020!important;
}


/* Controla los estilos de los mensajes de usuario */
.success-dialog {
    color: white !important;
    background-color: #28a745!important;
    
}

.error-dialog {
    color: white !important;
    background-color: #dc3545!important;
   

}

.info-dialog {
    color: white !important;
    background-color: #039be5 !important;
   
}

@media (max-width : 600px){
    div.content{
        padding: 15px !important;
    } 
}
div.content{
    background-color: white;
    padding: 20px;
}

button.primary{
    margin-top: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    width: fit-content;
}

.noMargin{
    margin: 0px !important;
    padding: 5px;
}

a{
    text-decoration: none;
}

.pointer {
    cursor: pointer !important;
}

.focus:hover {
    background: #202020 !important;
}
